<app-breadcrumb
  [linkTextBreadcrumb]="linkTextBreadcrumb"
  [linkBreadcrumb]="linkBreadcrumb"
></app-breadcrumb>

<section class="container-l d-flex gap-32 mb-80">
  <div
    class="border box-1 flex-wrap justify-between radius-l border-standard pd-16 bg-violet"
  >
    <picture>
      <source srcset="projects/meditation.webp" type="image/webp" />
      <img src="projects/meditation.webp" alt="" />
    </picture>
  </div>
  <div
    class="border nd-mobile box-1 flex-wrap justify-between radius-l border-standard pd-16 bg-violet"
  >
    <picture>
      <source srcset="projects/bananasana.webp" type="image/webp" />
      <img src="projects/bananasana.webp" alt="" />
    </picture>
  </div>
  <div
    class="border nd-mobile box-1 flex-wrap justify-between gap-32 radius-l border-standard pd-16 bg-violet"
  >
    <picture>
      <source srcset="projects/toe-squat.webp" type="image/webp" />
      <img src="projects/toe-squat.webp" alt="" />
    </picture>
  </div>
</section>

<h1 class="text-center container-l">
  From Concept to Reality: <br />
  The MVP of Open Stillness
</h1>

<a class="button link d-flex align-items m-middle" href="https://openstillness.com" target="_blank" rel="noopener noreferrer">
  Go to Application
  <span class="material-icons" aria-hidden="true">open_in_new</span>
</a>

<div class="mt-32 mb-48">
  <img src="general/arrow.svg" alt="" class="m-middle" />
</div>

<div class="main-margin">
  <app-technical-tools-big
    headlineTools1="Web Technologies"
    headlineTools2="Frontend Framework"
    headlineTools3="Design Tools"
    textTools1="TypeScript, SCSS and HTML"
    textTools2="Angular for Component-based Development"
    textTools3="Figma for UIs, Procreate for Illustrations"
  ></app-technical-tools-big>
</div>

<div class="main-margin">
  <app-scroll-menu [sections]="sections"></app-scroll-menu>
</div>

<section id="section1">
  <div class="container-m m-middle">
    <h2>1. Planning and Technology Stack</h2>
    <h3>Project Scope and Goals</h3>
    <p>
      The goal of the web application is to create a calming and user-friendly
      platform focused on Yin-Style Yoga. At the
      <strong>heart of the application</strong> is a library of yoga poses, each
      presented with a structure that includes step-by-step instructions for
      entering and exiting the pose, its effects on the body, and suggested
      variations to suit different needs and abilities.
    </p>
    <p>
      In addition to the library, the app also features yoga routines, allowing
      users to filter routines based on specific target areas.
    </p>
    <p class="border-left">
      <strong>
        Together, the Yoga Pose Library, routines, and introduction form core of
        the application. These elements represent the “Walking Skeleton” of the
        project - a minimal but complete version that fulfills the essential
        requirements for the initial launch.</strong
      >
    </p>
    <h3>Technology Stack</h3>
    <p>
      Choosing the right framework for this project was a careful decision. With
      so many options available, I ultimately decided to go with Angular for two
      main reasons:
    </p>
    <p>
      First, after starting to learn Java, I really grew to appreciate the
      <strong>Object-Oriented Approach</strong>. As Angular embraces this same
      approach, it made a natural fit for me.
    </p>
    <p>
      The second reason is my plan to transform this app into a
      <strong>Progressive Web Application</strong> (PWA). Since both PWAs and
      Angular were developed by Google, Angular makes it especially smooth to
      turn an Angular application into a PWA.
    </p>
    <p>
      For the styling, I chose SCSS because it allows me to write more
      <strong>efficient and maintainable CSS</strong> by using features like
      variables, mixins, and nesting.
    </p>
  </div>
</section>

<section class="container-m m-middle">
  <div class="border-standard radius-l main-margin mt-48 toolbox">
    <h3>Summary: Planning and Technology Stack</h3>
    <p>
      The Yin-Style Yoga Application is designed as a platform featuring a Yoga
      Pose Library and Yoga Routines, which users can filter based on target
      areas. Built using Angular for its component-based architecture and future
      scalability as a Progressive Web App (PWA). Styling is handled with SCSS,
      providing efficient and reusable design through variables and mixins.
    </p>
    <p>
      Together, these elements create a flexible foundation for future
      expansions while offering a smooth user experience.
    </p>
  </div>
</section>

<section id="section2">
  <div class="container-m m-middle">
    <h2>2. UX/UI Design Process</h2>
    <h3>Research and Discovery Phase</h3>
    <p>
      Creating the Yin-Style Yoga web application started with a personal
      challenge: organizing my yoga routines and pose instructions in a more
      efficient and accessible way.
    </p>
    <h4>Identifying the Problem</h4>
    <p>
      Before creating this application, all my yoga routines and instructions
      were scattered across various papers, making it difficult to quickly
      access the information I needed. Every time I wanted to create a new
      routine or perform an existing one, I had to search through my "paper
      chaos" to find details about specific poses. This slowed down my practice
      and made it harder to stay organized.
    </p>
    <p>
      The primary goal of the application was to
      <strong>speed up the creation and execution of yoga routines</strong>,
      while providing a simple, quick way to access all the information I needed
      about each pose.
    </p>
    <p class="border-left">
      <strong>
        I envisioned an organized library that would allow me to easily find,
        filter, and access yoga poses, saving me time and improving the flow of
        my practice.</strong
      >
    </p>

    <h4>Brainstorming the Product Requirements</h4>
    <p>
      During my brainstorming sessions, I explored a variety of functionalities
      that would enhance the user experience and provide real value. Initially,
      I dreamed big, listing features such as:
    </p>

    <ul>
      <li>
        A <strong>Login Area</strong> with a
        <strong>Personal Dashboard</strong> for tracking progress.
      </li>
      <li>
        A tool to create <strong>custom yoga routines</strong> tailored to the
        user's needs.
      </li>

      <li>
        <strong>Pre-made routines</strong>
        and <strong>graphical videos</strong>
        to inspire users who are looking for guidance.
      </li>
    </ul>

    <p>
      However, I knew I needed to prioritize the core functionalities for the
      initial release. This led to the creation of
      <strong>key product requirements</strong> that would lay the foundation
      for the application:
    </p>
    <ol>
      <li class="mb-16">
        <strong>Quick and Easy Access to Yoga Poses</strong>:<br />The
        application needed a well-structured library where users could quickly
        find and filter yoga poses based on target areas.
      </li>
      <li class="mb-16">
        <strong>Self-Paced Practice</strong>:<br />Users should be able to
        conduct ready-made yoga routines.
      </li>
      <li>
        <strong>Introduction to Yin-Style Yoga</strong>:<br />For those new to
        the practice, a brief introduction would offer insights into the
        benefits and techniques of Yin-Style Yoga.
      </li>
    </ol>
    <p>
      By narrowing down these key requirements, I was able to focus on creating
      a product that is
      <strong>valuable</strong> from the very first version.
    </p>
    <h3>High-Level Design Concept</h3>
    <p>
      In this phase, the focus was on creating a flexible, scalable structure
      for the Yin-Style Yoga App. The high-level design decisions revolved
      around visualizing the
      <strong>site's structure, organizing content</strong> efficiently, and
      setting the overall <strong>look and feel</strong> of the application.
    </p>
    <h4>Scalable Information Architecture</h4>
    <p class="mb-32">
      A key consideration in the design process was ensuring that the
      information architecture was <strong>modular and scalable</strong>. As the
      application evolves, I plan to add more content, such as Breathing
      Techniques and Meditation Sessions, which should be integrated seamlessly.
      This <strong>sitemap</strong> outlines the main sections - Yin-Style Yoga,
      and future sections for Breathing and Meditation.
    </p>

    <picture>
      <source srcset="projects/sitemap.webp" type="image/webp" />
      <img
        src="projects/sitemap.webp"
        alt=""
        class="m-middle sitemap pb-32"
        title="Sitemap"
      />
    </picture>

    <h4>Content Creation and Structure</h4>
    <p>
      The next challenge was to create content for the whole application,
      particularly for the Yoga Pose Library. The goal was to create content
      that was both clear and concise, providing all the information needed
      without overwhelming with unnecessary details.
    </p>
    <h4>Filtering Options</h4>
    <p>
      When designing the filtering system for the Yoga Pose Library and Yoga
      Routines, I wanted to strike a balance between simplicity and utility. Too
      many filters would overwhelm users, while too few might limit their
      ability to find the content that suits their needs.
    </p>
    <h4>Wireframes</h4>
    <p>
      To bring the structure of the pages to life and better understand the
      layout, I created simple wireframes. These rough wireframes allowed me to
      explore the platform's design and functionality early on, without getting
      lost in the finer details.
    </p>
    <h4>High-Level Visual Design Guide</h4>
    <p>
      To establish a visual identity for the application, I began by creating a
      design guide. This guide outlines the core elements that would define the
      look and feel of the application, from color schemes to typography.
    </p>
    <p>
      I chose a color palette with soft, soothing tones - gentle purples and
      blues that evoke a sense of peace and balance. The typography was selected
      to be clean and easy to read.
    </p>
    <h3>Detailed Design</h3>
    <p>
      The Detailed Design phase was where the vision for the Yin-Style Yoga
      Application took shape in a concrete, visual form. This phase was centered
      around building a Design System that would not only define the look and
      feel of the application but also ensure
      <strong>consistency and scalability</strong>
      throughout the design.
    </p>
    <p>
      From the foundation of this system, reusable components and design
      patterns were created, followed by the visual designs.
    </p>
    <h4>Building the Foundation of Design System</h4>
    <p>
      The foundation of the Design System began with the
      <strong>creation of variables</strong>, such as the Color Collections,
      which ensured that the color palette remained consistent across the entire
      application. Using color variables, I established semantic color aliases
      (for example background, border, accent) to make the use of colors more
      efficient and meaningful throughout the design.
    </p>

    <div
      class="d-flex flex-wrap justify-between gap-32 align-bottom pt-32 pb-32"
    >
      <div class="box-1">
        <figure>
          <picture>
            <source srcset="projects/colors-kokolo.webp" type="image/webp" />
            <img
              src="projects/colors-kokolo.webp"
              alt=""
              class="radius-l elevation-xs"
            />
          </picture>
          <figcaption>Color Palette with soft, soothing tones</figcaption>
        </figure>
      </div>
      <div class="box-1">
        <figure>
          <picture>
            <source srcset="projects/colors-variables.webp" type="image/webp" />
            <img
              src="projects/colors-variables.webp"
              alt=""
              class="radius-l elevation-xs"
            />
          </picture>
          <figcaption>Creation of Color Variables</figcaption>
        </figure>
      </div>
    </div>

    <p>
      In addition to color, I defined variables for other key elements such as
      typography, number scales, border radius, elevation, and breakpoints.
    </p>
    <h4>Reusable Components and Patterns of the Design System</h4>
    <p>
      Based on the foundational variables, I began creating reusable components
      that would form the building blocks of the application's interface. These
      components included:
    </p>
    <ul class="mb-32">
      <li class="mb-16">
        <strong>Buttons and Filters</strong>:<br />Designed with various states
        for default, hover, etc.
      </li>
      <li class="mb-16">
        <strong>Accordion</strong>:<br />A design pattern for expanding and
        collapsing content.
      </li>
      <li class="mb-16">
        <strong>Main Navigation and Footer</strong>:<br />Design patterns for
        consistent navigation across the app.
      </li>
      <li class="mb-16">
        <strong>Cards</strong>:<br />Components like the Yoga Pose Card.
      </li>
    </ul>

    <figure>
      <picture>
        <source srcset="projects/yoga-card.webp" type="image/webp" />
        <img
          src="projects/yoga-card.webp"
          alt=""
          class="radius-l elevation-xs m-middle"
          title="Design Pattern: Yoga Card"
        />
      </picture>
      <figcaption>Design Pattern: Yoga Pose Card</figcaption>
    </figure>
    <h4>Yoga Pose Illustrations</h4>
    <p>
      As part of the Design System, I created custom illustrations using
      Procreate. These illustrations focus on clear representation of each pose
      without overwhelming detail.
    </p>
    <h4>Creating the Visual Designs</h4>
    <p>
      With the Design System in place, I moved on to the creation of the Visual
      Designs for the application. These designs followed the
      <strong
        >structure and flow established in the High-Level Design phase</strong
      >, ensuring that the user experience remained cohesive from start to
      finish.
    </p>

    <figure>
      <picture>
        <source srcset="projects/visual-design-home.webp" type="image/webp" />
        <img
          src="projects/visual-design-home.webp"
          alt=""
          class="m-middle mt-40"
          title="Visual Design: Home Page"
        />
      </picture>
      <figcaption>Visual Design: Home Page</figcaption>
    </figure>
    <h3>Prototyping and Testing</h3>

    <p class="border-left mb-48">
      If you're interested in learning how I conduct Usability Testing and how
      it can improve the user experience, you can read an article I wrote on the
      topic here:
      <a routerLink="/blog/usability-testing"
        >Usability Testing Made Easy in 4 Steps</a
      >.
    </p>
  </div>
</section>

<section class="container-m m-middle">
  <div class="border-standard radius-l mt-48 main-margin toolbox">
    <h3>Summary: UX/UI Process</h3>
    <p>
      The UX/UI Design Process for the Yin-Style Yoga App began with a thorough
      Research and Discovery phase, where I identified the product requirements.
      From there, I moved into the High-Level Design phase, focusing on creating
      a scalable and flexible structure for the app's information architecture
      and content. During the Detailed Design phase, I developed a Design System
      with reusable components, custom illustrations, and a consistent and
      harmonious Visual Design.
    </p>
  </div>
</section>

<section id="section3">
  <div class="container-m m-middle">
    <h2>3. Development Process</h2>
    <p>
      Having established a clear vision during the planning and design phases,
      it was time to bring the application to life using Angular, TypeScript,
      HTML and SCSS.
    </p>

    <h3>Application Structure</h3>
    <p>
      Using Angular's <strong>component-based architecture</strong>, I was able
      to take the reusable components and patterns I had built in Figma and
      translate them into a modular, maintainable codebase.
    </p>

    <h4>Core Components</h4>

    <ul>
      <li class="mb-16">
        <strong>Yoga Pose Component</strong>:<br />This component is responsible
        for displaying yoga poses, dynamically rendered based on data stored in
        a JSON file. This component is reused throughout the library and
        individual routines.
      </li>
      <li class="mb-16">
        <strong>Filtering Component</strong>:<br />The filtering component
        allows users to filter based on target areas. It communicates with its
        parent components using Angular's input and output bindings. It is
        reused in the library and the routines overview page.
      </li>
      <li class="mb-16">
        <strong>Breadcrumb Component</strong>:<br />This component provides easy
        navigation for users by displaying the current path and dynamically
        updating based on the page or routine being viewed. It fetches yoga
        routine data from a JSON file to display relevant information in the
        breadcrumb trail.
      </li>
      <li class="mb-16">
        <strong>Global Components</strong>:<br />The Main Menu and Footer
        components are part of the app's core structure.
      </li>
    </ul>
    <h4>Routing and Navigation</h4>
    <p>
      The application's navigation is powered by Angular's router, enabling
      smooth transitions between key pages.
    </p>
    <!--<p>
      Dynamic routing is used to load individual yoga routines based on a URL
      parameter (slug). Features like scroll position restoration and anchor
      scrolling were also enabled to ensure a seamless and enjoyable user
      experience.
    </p>-->
    <h4>Data Management</h4>
    <p>
      All data for the app is managed using <strong>JSON files</strong> for yoga
      poses and routines, which are dynamically loaded through
      <strong>Angular's HttpClient service</strong>.
    </p>
    <p>
      Here's an example of how the yoga pose data is fetched and used within the
      LibraryComponent:
    </p>

    <app-code-good-bad [code]="codeSnippet"></app-code-good-bad>

    <h4>Styling and Theming</h4>
    <p>The styling is divided into:</p>
    <ul>
      <li class="mb-16">
        <strong>Component-Specific Styles</strong>:<br />To maintain flexibility
        and prevent conflicts, each component has its own SCSS file, making the
        styling modular and easy to manage as the application grows.
      </li>
      <li class="mb-16">
        <strong>Global Styles</strong>:<br />These base styles and utility
        classes ensure consistency across the app, with variables for colors,
        fonts, and other core elements defined in the variables.scss file.
      </li>
    </ul>
    <p>
      The variables.scss file is a direct reflection of the Design System's
      Color Collections and other foundational elements, such as box shadows,
      radius, and number scales.
    </p>

    <h4>Development Workflow</h4>
    <p>
      I used Git for version control, with all project files stored in a GitHub
      repository.
    </p>
  </div>
</section>

<section class="container-m m-middle">
  <div class="border-standard radius-l mt-48 toolbox main-margin">
    <h3>Summary: Development Process</h3>
    <p>
      The Development Process for the Yin-Style Yoga Application focused on
      building a scalable structure using Angular's component-based
      architecture. With data managed dynamically through JSON files and styling
      handled using SCSS, the application remained visually consistent.
      Throughout development, I used Git for version control.
    </p>
  </div>
</section>

<section id="section4">
  <div class="container-m m-middle">
    <h2>4. Future Plans</h2>
    <p>
      The development of the Yin-Style Yoga Application is just the beginning.
      Looking ahead, I have many exciting plans to expand the application's
      features and enhance the overall user experience. These plans focus not
      only on adding new functionality but also on deepening the customization
      options for users and creating a more personalized, immersive platform.
    </p>

    <h3>Long-Term Vision</h3>

    <ul>
      <li class="mb-16">
        As the platform grows, I aim to add new sections beyond Yin-Style Yoga,
        introducing users to <strong>Breathwork</strong> and
        <strong>Meditation</strong>. This expansion will allow users to explore
        other mindfulness practices and create a more well-rounded, holistic
        approach.
      </li>
      <li class="mb-16">
        One exciting addition will be the
        <strong>integration of graphic videos</strong> of the routines.
      </li>
      <li class="mb-16">
        I also plan to introduce <strong>user accounts</strong>, which will
        allow users to create and save personalized training plans, as well as
        track their progress through a history of completed sessions. This will
        make the app more tailored to each user's personal journey.
      </li>
    </ul>
  </div>
</section>

<section class="container-m m-middle">
  <div class="border-standard radius-l mt-48 toolbox main-margin">
    <h3>Summary: Future Plans</h3>
    <p>
      In the long term, I envision transforming the app into a fully
      personalized platform with user accounts, graphic videos, and new sections
      dedicated to Breathwork and Meditation.
    </p>
  </div>
</section>

<section id="section5">
  <div class="container-m m-middle">
    <h2>5. Final Reflections</h2>
    <p>
      Working on the Yin-Style Yoga web application has been a deeply personal
      and educational journey.
    </p>
    <h3>Embracing the Journey, Not the Destination</h3>
    <p>
      One of the key takeaways from this experience was learning to
      <strong>embrace the process</strong>
      rather than rushing toward the end result. Preparing the yoga pose
      illustrations and carefully crafting the descriptive text for each pose
      took far longer than I initially expected. My early attempts to speed
      through these tasks left me unsatisfied with the quality, which led to a
      restart. It became clear that the real value lay in the journey itself -
      learning more about each pose and finding a way to convey its essence.
      <strong
        >By slowing down, I was able to produce content I could be proud
        of.</strong
      >
    </p>
    <h3>Refining Visual Design: The Art of Starting Over</h3>
    <p>
      A similar lesson applied to the visual design. My first attempt at the
      visual design wasn't quite right. It was too trendy and lacked the
      timeless simplicity I wanted. Although I created a prototype, I knew it
      wasn't ready for testing. Starting the design process again was the right
      decision, as it allowed me to create a design that truly felt aligned with
      the message I wanted the application to convey.
      <strong
        >It's a reminder that sometimes you have to take a step back, reflect,
        and try again until the design feels just right.</strong
      >
    </p>
    <h3>Focus and Prioritization: Building a Strong Foundation</h3>
    <p>
      This project also reinforced the importance of focus and prioritization.
      It's easy to get caught up in the excitement of new ideas and want to
      implement every feature at once. But I learned that focusing on the
      essentials - building a strong foundation and taking things step by step -
      is the most effective way to make meaningful progress.
      <strong
        >For me, prioritization was challenging, but it was a crucial part of
        ensuring that the project moved forward in a manageable and successful
        way.</strong
      >
    </p>
    <h3>Lessons in Development: Patience and Problem-Solving</h3>
    <p>
      On the development side, working with Angular was a rewarding experience.
      The more I learned, the more I appreciated the
      <strong>power and flexibility of the framework</strong>. That said, there
      were moments when small development challenges nearly got the better of me
      - like debugging a page-scrolling issue that, after hours of frustration,
      was solved with a simple line of code. These moments reminded me of the
      patience required in development, and the satisfaction that comes when a
      solution is finally found.
    </p>

    <h3>Reflecting on the entire project</h3>
    <p>I've come to realize that:</p>
    <ul class="border-left">
      <li>
        <strong>
          It's okay to take things slowly, as long as you keep moving forward.
        </strong>
      </li>
      <li>
        <strong
          >It's okay to restart, as long as you learn from the process.</strong
        >
      </li>
      <li>
        <strong>
          Having a vision for the product - focusing not on the minute details
          but on the overall feeling and purpose of the application - was what
          helped me stay motivated and see this project through to the end.
        </strong>
      </li>
    </ul>
  </div>
</section>

<section class="container-m m-middle">
  <div class="border-standard radius-l mt-48 toolbox">
    <h3>Summary: Final Reflections</h3>
    <p>
      Working on the Yin-Style Yoga web application has been a profoundly
      personal and educational journey. Embracing the process over rushing to
      the result led to more meaningful and high-quality work, both in crafting
      content and refining the visual design. Finally, navigating development
      challenges highlighted the value of patience, problem-solving, and the
      satisfaction of finding elegant solutions.
    </p>
  </div>
</section>
