<app-breadcrumb></app-breadcrumb>

<section class="mb-64">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<div class="container-m m-middle">
  <picture>
    <source srcset="projects/jsonify.webp" type="image/webp" />
    <img src="projects/jsonify.jpg" alt="" class="radius-l elevation-xs" />
    <div class="mt-32 mb-48">
      <img src="general/arrow.svg" alt="" class="m-middle" />
    </div>
  </picture>
</div>

<div class="main-margin">
  <app-technical-tools-small></app-technical-tools-small>
</div>

<section class="text-center m-middle container-m">
  <div class="main-margin special-link radius-l">
    <h2>Explore JSONify on Figma Community</h2>
    <p class="mb-32 container">
      Take a peek at the community page to learn more and maybe see JSONify in
      action!
    </p>
    <a
      href="https://www.figma.com/community/plugin/1437780775818955662"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="button link d-flex align-items m-middle">
        Explore JSONify
        <span class="material-icons" aria-hidden="true"> open_in_new</span>
      </span>
    </a>
  </div>
</section>

<div class="main-margin">
  <app-scroll-menu [sections]="sections"></app-scroll-menu>
</div>

<section id="section1" class="main-margin">
  <div class="container-m m-middle">
    <h2>1. Purpose &amp; Goals</h2>
    <p class="mb-48">
      JSONify is designed to simplify workflows by automating the conversion of
      text content into structured JSON files. It eliminates repetitive tasks,
      allowing to focus on more impactful and challenging aspects of projects.
    </p>

    <app-list
      headline="How JSONify simplifies the Workflow"
      [tools]="[
        {
          name: 'Automates text extraction and JSON creation',
          description: ', saving time and reducing manual errors.'
        },
        {
          name: 'Organizes code efficiently',
          description:
            ' by leveraging Figma layer names, groups, and hierarchies.'
        },
        {
          name: 'Empowers to focus on creative and complex tasks',
          description: ' instead of tedious data entry.'
        },
        {
          name: 'Enhances the design-to-development handoff',
          description: ' with a tool built for structure and clarity.'
        }
      ]"
    ></app-list>
  </div>
</section>

<section id="section2" class="main-margin">
  <div class="container-m m-middle">
    <h2>2. Key Features and Algorithm Highlights</h2>
    <p>
      In JSONify, each Figma layer's name becomes a <strong>key</strong> in the
      JSON Output, and the text content within that layer becomes its
      corresponding <strong>value</strong>. For example, a layer named "title"
      containing the text "Hello World!" would generate the JSON entry:
    </p>
    <p>
      <strong>
        <span class="medium-berry">"title"</span>:
        <span class="medium-blue">"Hello World!"</span><br />
      </strong>
    </p>
    <p>
      This simple mapping keeps the JSON Output organized and easy to use,
      directly reflecting the design's structure.
    </p>

    <h3>Key Features of JSONify</h3>
    <ul class="mb-48">
      <li class="mb-16">
        <strong>Specific Layers with Prefixes are excluded:</strong><br />
        The prefix "exclude-" is used to skip layers that are not wanted in the
        JSON Output. This gives control over what gets exported.
      </li>

      <li class="mb-16">
        <strong>Layer Names Become Keys:</strong><br />
        Each layer's name is transformed into a key in the JSON object, making
        the output structured and easy to use.
      </li>
    </ul>

    <div class="mb-48 d-flex flex-wrap justify-between gap-32 text-center">
      <div class="box">
        <figure>
          <picture>
            <source srcset="projects/jsonify-exclude.webp" type="image/webp" />
            <img
              src="projects/jsonify-exclude.png"
              alt=""
              class="elevation-xs radius-m border-standard"
            />
          </picture>
          <figcaption>Prefix "exclude-" to omit layers</figcaption>
        </figure>
      </div>

      <div class="box">
        <figure>
          <picture>
            <source
              srcset="projects/jsonify-object-key.webp"
              type="image/webp"
            />
            <img
              src="projects/jsonify-object-key.png"
              alt=""
              class="box elevation-xs radius-m border-standard"
            />
          </picture>
          <figcaption>Layer names as JSON keys</figcaption>
        </figure>
      </div>
    </div>

    <h3>Arrays in JSONify</h3>
    <ul class="mb-48">
      <li class="mb-16">
        <strong>Line Breaks Create Arrays:</strong><br />
        When a text layer contains line breaks (\n), the text is split into an
        array. Each line becomes a separate entry in the JSON, making it easy to
        handle lists or bullet points.
      </li>
      <li class="mb-16">
        <strong>Grouped Layers as Arrays:</strong><br />
        Groups in Figma are treated as arrays. Each child layer within the group
        becomes an array entry, keeping it aligned with the design hierarchy.
      </li>
    </ul>

    <figure class="mb-48">
      <picture>
        <source srcset="projects/jsonify-array.webp" type="image/webp" />
        <img src="projects/jsonify-array.jpg" alt="" class="radius-l" />
      </picture>
      <figcaption>Organize content into arrays through line breaks</figcaption>
    </figure>

    <h3>Algorithm Highlights</h3>
    <p>
      At the heart of JSONify lies the
      <strong>Level-Order Traversal Algorithm</strong> - a classic technique
      commonly used to traverse trees and graphs.
    </p>
    <p class="mb-16">
      The purpose of this Algorithm is to ensure every layer in the Figma
      hierarchical layer structure is traversed in an orderly, level-by-level
      manner. By systematically processing each layer, the Plugin can:
    </p>
    <ul>
      <li>Extract text content from layers and transform it into JSON.</li>
      <li>
        Recognize groups, arrays, and nested structures to preserve the
        hierarchy.
      </li>
      <li class="mb-8">
        Skip irrelevant layers (like those prefixed with "exclude-").
      </li>
    </ul>
    <p>
      This Algorithm is the <strong>Engine of the Plugin</strong>, enabling it
      to handle complex Figma documents efficiently and accurately.
    </p>
    <h4>How It Works</h4>
    <p>
      The Algorithm starts at the root node of the selected layers and uses a
      queue to traverse each node level by level. Here's a simplified code
      snippet demonstrating the process:
    </p>
    <app-code-good-bad [code]="codeSnippet"></app-code-good-bad>
  </div>
</section>

<section id="section3" class="main-margin">
  <div class="container-m m-middle">
    <h2>3. Development Insights</h2>

    <h3>Development Milestones</h3>
    <ul>
      <li class="mb-16">
        <strong>Set Up Development Environment:</strong><br />Initialized the
        project with npm, configured TypeScript, and created the project
        structure for the Plugin.
      </li>
      <li class="mb-16">
        <strong>Build Plugin UI:</strong><br />Designed the Plugin's UI with
        HTML and CSS, ensuring a clean and user-friendly layout.
      </li>

      <picture>
        <source srcset="projects/jsonify-ui.webp" type="image/webp" />
        <img
          src="projects/jsonify-ui.png"
          alt=""
          class="box elevation-xs radius-m mb-32 jsonify-ui border-standard"
        />
      </picture>

      <li class="mb-16">
        <strong>Handle User Interactions:</strong><br />Implemented
        functionality to respond to "create" and "cancel" messages sent by the
        plugin UI.
      </li>
      <li class="mb-16">
        <strong>Validate User Selection:</strong><br />Added checks to ensure at
        least one layer is selected, displaying alerts when no valid layers are
        found.
      </li>
      <li class="mb-16">
        <strong>Develop Core Functionality:</strong><br />
        Built the Level-Order Traversal Algorithm to traverse through all
        selected Figma layers. Processed text layers, extracting their names and
        content to create JSON keys and values. Implemented rules to handle
        exclude- prefixes, ignore auto layout layers, and manage grouped layers
        as arrays.
      </li>
      <li class="mb-16">
        <strong>Support Advanced Features:</strong><br />Enabled multi-line text
        handling, automatically parsing text with line breaks (\n) into JSON
        arrays. Ensured nested groups are converted into hierarchical JSON
        structures.
      </li>

      <li class="mb-16">
        <strong>Testing and Debugging:</strong><br />Thoroughly tested the
        Plugin on various Figma files.
      </li>
      <li class="mb-16">
        <strong>Final Review and Launch:</strong><br />Polished the code for
        readability and efficiency, created necessary assets, and published the
        Plugin to the Figma Community.
      </li>
    </ul>
  </div>
</section>

<div class="text-center m-middle container-m link-to-project">
  <div class="main-margin special-link radius-l">
    <h2>Explore the full Source Code on GitHub</h2>
    <p class="mb-32">
      If you're interested in exploring the code and seeing how the project was
      built in detail, feel free to visit the GitHub repository.
    </p>
    <a
      href="https://github.com/ko-ko-lo/figma-json-export"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="button link d-flex align-items m-middle">
        Go to Repository
        <span class="material-icons" aria-hidden="true">open_in_new</span>
      </span>
    </a>
  </div>
</div>

<section id="section4" class="main-margin">
  <div class="container-m m-middle">
    <h2>4. Reflections on the Creative Process</h2>
    <p>
      When I first had the idea for JSONify, the Level-Order Algorithm
      immediately came to my mind. From that starting point, I began to think
      about how to mirror Figma's hierarchical structure in the JSON Output.
    </p>
    <p>
      One of the first "aha!" moments was realizing I could use Figma layer
      names as keys for the JSON object. Since JavaScript objects are made of
      key-value pairs, this approach allowed the Plugin to seamlessly translate
      Figma designs into structured data.
    </p>
    <p>
      For my own use case - exporting consistent yoga card data - I needed a way
      to exclude certain layers, like static headlines, from the export. Again,
      layer names provided a simple but elegant solution: using a prefix like
      exclude-.
    </p>
    <p>
      Groups presented another challenge. To handle arrays in the JSON Output, I
      decided that grouped layers in Figma would act as arrays in the exported
      data. However, I also needed a way to process multi-line text as arrays,
      particularly for bullet point lists. That's when the idea to use \n (line
      breaks) as a delimiter likely emerged.
    </p>
    <p>
      While the Plugin meets my current needs, I look forward to using it
      regularly and gathering feedback from others over time. With user
      insights, I might refine its functionality.
    </p>
  </div>
</section>

<section id="section3">
  <div class="container-m m-middle">
    <p class="thanks">
      <span class="medium-brown">&#123;</span><br />
      <span class="medium-berry">"ending"</span>:
      <span class="medium-blue">"Thanks for your interest!"</span><br />
      <span class="medium-brown">&#125;</span>
    </p>
  </div>
</section>
