@use "../../../../styles/tokens" as token;

.highlight {
  font-size: 2rem;
  font-weight: 600;
  color: token.$teal-300;
}

h3 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

p.highlight {
  margin-bottom: 0.3rem;
}

p.text-highlight {
  margin-top: 0.3rem;
}
