<app-breadcrumb></app-breadcrumb>

<section class="mb-32">
  <img src="projects/open-stillness-icon.svg" alt="" class="m-middle pb-16" />

  <app-intro [title]="title" [text]="text"></app-intro>

  <a class="button link d-flex align-items m-middle application" href="https://openstillness.com" target="_blank" rel="noopener noreferrer">
    Go to Application
    <span class="material-icons" aria-hidden="true">open_in_new</span>
  </a>
</section>

<img src="general/arrow.svg" alt="" class="m-middle" />

<section class="m-middle container-m">
  <h2 class="mt-48">Why was this platform created?</h2>
  <p>
    What started as a personal solution for organizing my yoga routines has
    evolved into a full-fledged mindfulness platform. Initially, I struggled
    with scattered paper notes, which led me to develop a structured digital
    library for Yin-style Yoga poses and routines. As I refined the concept, the
    platform expanded to include guided Meditations, Breathwork techniques, and
    more.
  </p>
  <p class="main-margin">
    <strong
      >As both the designer and developer, I have built this platform from the
      ground up</strong
    >
    - crafting the UI, structuring the architecture, and ensuring accessibility.
    More than just a coding project, this is a way to share my experience with
    mindfulness, making Meditation, Yin-Style Yoga, and Breathwork more
    accessible to others.
  </p>
</section>

<div class="container-m m-middle">
  <h2>
    Project Phases: <br />
    The Evolution of Open Stillness
  </h2>
  <p class="main-margin">
    Every project starts with a simple idea. What began as a structured way to
    organize Yin-Style Yoga routines has grown into a comprehensive mindfulness
    platform. This journey is divided into key phases, each adding new features
    and refining the user experience. From the initial foundation to enhanced
    content, accessibility, and personalization, the platform continuously
    evolves to bring Meditation, Breathwork, and Yin-Style Yoga to a wider
    audience.
  </p>
</div>

<section class="m-middle container-l phases">
  <!-- Phase 1: MVP / Walking Skeleton -->
  <app-phases-project
    phasesCount="1"
    phasesText="The foundation of the platform was established in this phase. The
    architecture was carefully planned, the technology stack chosen, and
    the design language defined. A scalable design system was developed,
    and a walking skeleton was implemented using Angular to ensure a solid
    starting point for future expansions."
    phasesProgress="Completed"
    phasesHeadline="MVP / Walking Skeleton"
    phasesLink="/projects/yin-style-yoga-application"
    phasesImgWebp="projects/phase-1.webp"
    phasesImg="projects/phase-1.png"
    [isActive]="true"
  ></app-phases-project>

  <!-- Phase 2: MVP / Expanding the Platform -->
  <app-phases-project
    phasesCount="2"
    phasesText="With the core structure in place, this phase focused on expanding the
    platform's features. Guided meditation sessions and breathwork
    exercises were introduced, enhancing the user experience.
    Accessibility improvements and UI refinements ensured that the
    platform became more inclusive and intuitive."
    phasesProgress="Completed"
    phasesHeadline="Expanding the Platform"
    phasesLink="/projects/open-stillness-application-phase-2"
    phasesImgWebp="projects/phase-2.webp"
    phasesImg="projects/phase-2.png"
    [isSwapped]="true"
    [isActive]="true"
  ></app-phases-project>

  <!-- Phase 3: Routine Videos -->
  <app-phases-project
    phasesCount="3"
    phasesText="This phase will introduce video content to enhance the platform's
    experiences and allow users to follow structured routines with ease.
    In addition ambient soundscapes will be composed to complement each
    session, creating a deeply immersive and calming atmosphere."
    phasesProgress="In Progress"
    phasesHeadline="Routine Videos"
    phasesImgWebp="projects/phase-3.webp"
    phasesImg="projects/phase-3.png"
    pillColor="brown"
  ></app-phases-project>

  <!-- Phase 4: Progressive Web App -->
  <app-phases-project
    phasesCount="4"
    phasesText="Transforming the platform into a Progressive Web App (PWA) allows
    users to access mindfulness practices anytime, anywhere. Offline
    functionality, push notifications, and performance optimizations will
    be key focuses, ensuring a smooth and engaging experience even without
    an internet connection."
    phasesProgress="In Progress"
    phasesHeadline="Progressive Web App"
    phasesImgWebp="projects/phase-4.webp"
    phasesImg="projects/phase-4.png"
    [isSwapped]="true"
    pillColor="brown"
  ></app-phases-project>

  <!-- Phase 5: MVP / Walking Skeleton -->
  <div class="main-margin">
    <app-phases-project
      phasesCount="5"
      phasesText="Introducing user authentication and personalized features, this phase
    brings deeper engagement and interactivity. A secure backend enables
    users to track progress, save preferences, and access personalized
    content, making the platform a truly individualized mindfulness
    experience."
      phasesProgress="Coming soon"
      phasesHeadline="User Backend"
      phasesImgWebp="projects/phase-5.webp"
      phasesImg="projects/phase-5.png"
      pillColor="neutral"
    ></app-phases-project>
  </div>
</section>

<div class="main-margin">
  <app-technical-tools-big
    headlineTools1="Web Technologies"
    headlineTools2="Frontend Framework"
    headlineTools3="Design Tools"
    textTools1="TypeScript, Tailwind CSS and HTML"
    textTools2="Angular for Component-based Development"
    textTools3="Figma for UIs, Procreate for Illustrations"
  ></app-technical-tools-big>
</div>

<section class="m-middle container-m">
  <h2 class="text-center">Impressions of Open Stillness</h2>

  <div class="gap-32">
    <div class="box-2 pb-32">
      <picture>
        <source srcset="projects/open-stillness-1.webp" type="image/webp" />
        <img src="projects/open-stillness-1.png" alt="" />
      </picture>
    </div>
    <div class="box-2 pb-32">
      <picture>
        <source srcset="projects/open-stillness-2.webp" type="image/webp" />
        <img src="projects/open-stillness-2.png" alt="" />
      </picture>
    </div>
  </div>

  <div class="gap-32">
    <div class="box-2 pb-32">
      <picture>
        <source srcset="projects/open-stillness-3.webp" type="image/webp" />
        <img src="projects/open-stillness-3.png" alt="" />
      </picture>
    </div>
    <div class="box-2 pb-32">
      <picture>
        <source srcset="projects/open-stillness-4.webp" type="image/webp" />
        <img src="projects/open-stillness-4.png" alt="" />
      </picture>
    </div>
  </div>

  <div class="gap-32 main-margin">
    <div class="box-2 pb-32">
      <picture>
        <source srcset="projects/open-stillness-5.webp" type="image/webp" />
        <img src="projects/open-stillness-5.png" alt="" />
      </picture>
    </div>
    <div class="box-2 pb-32">
      <picture>
        <source srcset="projects/open-stillness-6.webp" type="image/webp" />
        <img src="projects/open-stillness-6.png" alt="" />
      </picture>
    </div>
  </div>
</section>

<app-my-quote
  myQuote="As the platform continues to evolve, upcoming phases will focus on enhancing user experience, improving accessibility, and introducing new features. With each iteration, the goal is to create a seamless, personalized, and immersive mindfulness experience."
></app-my-quote>
