<app-breadcrumb></app-breadcrumb>

<section class="mb-64">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<section class="container-m m-middle">
  <img src="projects/aloha-tune/sunrise.svg" alt="" class="m-middle radius-l" />
  <div class="mt-32 mb-48">
    <img src="general/arrow.svg" alt="" class="m-middle" />
  </div>
</section>

<div class="main-margin">
  <app-technical-tools-big
    headlineTools1="Design"
    headlineTools2="Core Web Technologies"
    headlineTools3="Audio Library"
    textTools1="Figma Design"
    textTools2="React, TypeScript, SCSS, HTML"
    textTools3="Tone.js"
  ></app-technical-tools-big>
</div>

<!-- Link to Product Page -->
<section class="text-center m-middle container-m">
  <div class="main-margin special-link radius-l">
    <h2>Explore the Aloha Tune Application</h2>
    <p class="mb-32 container">
      Take a peek at the application to learn more and maybe see Aloha Tune in
      action!
    </p>
    <a
      href="https://aloha-tune.web.app/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="button link d-flex align-items m-middle">
        Explore Aloha Tune
        <span class="material-icons" aria-hidden="true">open_in_new</span>
      </span>
    </a>
  </div>
</section>

<div class="main-margin">
  <app-scroll-menu [sections]="sections"></app-scroll-menu>
</div>

<section id="section1" class="main-margin">
  <div class="container-m m-middle">
    <h2>1. Purpose &amp; Goals</h2>
    <p>
      Last year, I bought myself a beautiful Ukulele. The first thing I needed
      was a tuner. I was looking for something reliable, easy to use, and
      ideally, something that captured the spirit of the instrument.
    </p>
    <p>I started browsing digital tuners, only to discover that:</p>

    <ul>
      <li>
        Most tuners were designed for guitar players, with Ukulele support added
        as an afterthought
      </li>
      <li>
        The design of many apps felt generic, lacking any connection to the
        Ukulele's Hawaiian roots
      </li>
      <li class="mb-32">
        Nearly all options were native apps, no simple browser-based tool
        existed
      </li>
    </ul>

    <p>
      So I asked myself:<br /><strong>
        "Is it even possible to build a Ukulele tuner that works entirely in the
        browser?"</strong
      >
    </p>

    <h3>The Goals</h3>

    <ul>
      <li>Create a tuner that works directly in the browser</li>
      <li>Offer both automatic pitch detection and a manual mode</li>
      <li>
        Build a user interface that feels light, musical, and inspired by the
        Ukulele's origin
      </li>
      <li>
        Use the project as a learning journey into Web Audio APIs, pitch
        detection, and real-time UI feedback
      </li>
    </ul>
  </div>
</section>

<section id="section2" class="main-margin">
  <div class="container-m m-middle">
    <h2>2. UX/UI Design</h2>
    <p>
      The design of Aloha Tune was guided by two core goals: clarity and
      character. I wanted users to immediately understand how to use the tuner,
      while also feeling like they'd stepped into a space created just for the
      Ukulele.
    </p>

    <h3>Logo Design</h3>
    <p>
      The project began under the name “Lele Tuner” with a playful flea icon
      referencing the Hawaiian meaning of "Ukulele" (jumping flea). But as the
      concept matured, so did the design direction. The final identity, “Aloha
      Tune,” embraces the spirit of Hawaii more fully with a sunset-inspired
      logo and a "Night on the Beach" color palette.
    </p>

    <div class="mt-64 mb-104">
      <img
        src="projects/aloha-tune/logo-evolution.svg"
        alt=""
        class="m-middle"
      />
    </div>

    <h3>Interface System in Figma</h3>
    <p>
      All interfaces were designed and prototyped in Figma, allowing for fast
      iteration and theming. To keep the project cohesive and scalable, I
      designed a mini design system in Figma. This includes:
    </p>
    <ul>
      <li>Typography</li>
      <li>Color tokens (including support for light/dark mode)</li>
      <li>
        Reusable components like toast messages, toggles, and the note
        visualizer
      </li>
    </ul>

    <p class="mb-64">
      The layout is intentionally minimal. The tuner should never distract from
      the task: playing music.
    </p>
  </div>

  <!-- Images UI Design -->
  <div class="container-l d-flex gap-32">
    <div class="box-2 radius-l">
      <figure>
        <picture>
          <source
            srcset="projects/aloha-tune/auto-mode.webp"
            type="image/webp"
          />
          <img
            src="projects/aloha-tune/auto-mode.webp"
            alt=""
            class="radius-l border-standard"
          />
        </picture>
        <figcaption>Auto Mode: Start Screen</figcaption>
      </figure>
    </div>

    <div class="box-2 radius-l">
      <figure>
        <picture>
          <source
            srcset="projects/aloha-tune/manual-mode.webp"
            type="image/webp"
          />
          <img
            src="projects/aloha-tune/manual-mode.webp"
            alt=""
            class="radius-l border-standard"
          />
        </picture>
        <figcaption>Manual Mode: Start Screen</figcaption>
      </figure>
    </div>
  </div>

  <div class="container-m m-middle">
    <h3>Behind the Strings: UX Logic</h3>
    <p>
      One of the trickiest UX moments is managing microphone access. To guide
      the user smoothly, a link to enable the microphone is shown as soon as the
      application loads.
    </p>
    <p>
      In addition to general user flows, I mapped out specific interaction
      sequences, including the core Tuning Detection Flow that powers the app.
    </p>
    <h3>Tuning Detection Flow – From the User's Perspective</h3>
    <p>
      When a user opens Aloha Tune, they're invited to enable microphone access.
      Once the mic is active, here's what happens behind the scenes:
    </p>
    <ol>
      <li class="mb-16">
        <strong class="gray-color">Microphone Access</strong><br />
        You play a note on your ukulele. The app immediately begins listening
        through your microphone.
      </li>
      <li class="mb-16">
        <strong class="gray-color">Audio Input</strong><br />
        It hears the sound and starts analyzing the pitch. Using pitch
        detection, it calculates the frequency, essentially how fast the string
        is vibrating.
      </li>
      <li class="mb-16">
        <strong class="gray-color">Frequency Detection</strong><br />
        The detected frequency is compared to a dataset of known note values
        (like C4, E4, A4). Even if you're slightly off, it can tell what you're
        trying to play.
      </li>
      <li class="mb-16">
        <strong class="gray-color">Note Matching</strong><br />
        The tuner identifies the closest matching note.
      </li>
      <li>
        <strong class="gray-color">Tolerance Check</strong><br />
        It gives you feedback in real time: If you're close - great! If not, it
        highlights whether the string is too low or too high, so you know
        exactly how to adjust.
      </li>
    </ol>
  </div>
  <div class="container-l">
    <img src="projects/aloha-tune/tuning-flow.svg" alt="" class="mt-88" />
  </div>
</section>

<section id="section3" class="main-margin">
  <div class="container-m m-middle">
    <h2>3. Development Insights</h2>
  </div>
</section>

<!-- GitHub Link -->
<div class="text-center m-middle container-m link-to-project">
  <div class="main-margin special-link radius-l">
    <h2>Explore the full Source Code on GitHub</h2>
    <p class="mb-32">
      If you're interested in exploring the code and seeing how the project was
      built in detail, feel free to visit the GitHub repository.
    </p>
    <a
      href="https://github.com/ko-ko-lo/ukulele-tuner"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="button link d-flex align-items m-middle">
        Go to Repository
        <span class="material-icons" aria-hidden="true">open_in_new</span>
      </span>
    </a>
  </div>
</div>

<section id="section4" class="main-margin">
  <div class="container-m m-middle">
    <h2>4. Future Plans</h2>
  </div>
</section>

<section id="section5" class="main-margin">
  <div class="container-m m-middle">
    <h2>5. Final Reflections</h2>
  </div>
</section>
