<div class="ptb-80 mt-120">
  <footer class="container-l">
    <a routerLink="/">
      <img src="general/footer.svg" alt="Portfolio Home" class="m-middle" />
    </a>

    <div class="social-icons">
      <a href="https://www.linkedin.com/in/uxcodepro" target="_blank">
        <img src="general/linkedin.svg" alt="Link to Linkedin" />
      </a>
      <a href="https://github.com/kolodzey" target="_blank">
        <img src="general/github.svg" alt="Link to GitHub" />
      </a>
      <a href="https://www.figma.com/@denisekolodzey" target="_blank">
        <img src="general/figma.svg" alt="Link to Figma Community" />
      </a>
      <a href="mailto: denise.kolodzey@web.de" target="_blank">
        <img src="general/mail.svg" alt="Write a Mail" />
      </a>
    </div>
  </footer>
</div>
