<header class="menu-position">
  <div [class.menu-open]="menuOpen" class="background-dark margin-bottom-12">
    <div class="container-l">
      <nav class="navbar d-flex justify-between align-center">
        <a routerLink="/" (click)="closeMenuAndNavigate()" class="logo">
          <img src="general/logo.svg" alt="Portfolio Home" />
        </a>

        <!-- Menu Toggle for Mobile -->
        <button
          #menuToggle
          type="button"
          class="menu-toggle flex-column gap-4"
          (click)="toggleMenu()"
          aria-label="Toggle menu"
          aria-controls="main-navigation"
          [attr.aria-expanded]="menuOpen"
        >
          @if (!menuOpen) {
            <i class="material-icons" aria-hidden="true">menu</i>
          } @else {
            <span class="close-icon">
              <i class="material-icons" aria-hidden="true">close</i>
            </span>
          }
        </button>

        <!-- Main Navigation -->
        <ul
          #navMenu
          id="main-navigation"
          class="nav-menu d-flex gap-32"
          [class.active]="menuOpen"
        >
          @for (item of menuItems; track item) {
          <li class="nav-item">
            <a
              [routerLink]="item.link"
              routerLinkActive="active-link"
              (click)="closeMenuAndNavigate()"
            >
              {{ item.label }}
            </a>
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</header>
