@use "../../../styles/semantic" as semantic;
@use "../../../styles/tokens" as token;

header {
  background-color: semantic.$color-bg;
  background-image: linear-gradient(
      rgba(28, 28, 28, 0.9),
      rgba(28, 28, 28, 0.9)
    ),
    url("/textures/core-pattern.webp");
  background-repeat: repeat;
}

.navbar {
  padding: token.$spacing-unit-large * 2 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  padding: 0;
}

button::before {
  content: none;
}

.nav-menu {
  display: none;
  list-style: none;
  display: flex;
  gap: token.$spacing-unit-large * 5;

  .nav-item {
    position: relative; /* Allows absolute positioning inside */

    a {
      text-decoration: none;
      color: semantic.$color-text-primary;
      position: relative; /* Needed for the underline positioning */

      &.active-link {
        text-shadow: 0px 0px 1px #fff; /* bold without friction when hovering */
        cursor: default;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -12px;
          width: 100%;
          border-radius: semantic.$radius-m;
          height: token.$spacing-unit-small;
          background-color: token.$gold;
        }
      }

      &:hover {
        text-shadow: 0px 0px 1px #fff;
      }
    }
  }
}

.menu-toggle {
  all: unset;
  display: none; /* Hamburger: Hidden on larger screens */
  right: 0;
  z-index: 10000;
}

.menu-position {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 999;

  &.no-margin {
    margin-bottom: 0; /* No margin on yoga-routines pages */
  }
}

/* Exclude navigation elements from the fade-in effect */
.navbar {
  opacity: 1 !important;
  animation: none !important;
}

@media (max-width: 768px) {
  .nav-menu {
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    position: fixed; /* Make sure it overlays everything */
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh; /* Full screen */
    background: semantic.$color-bg;
    z-index: 9999;
    padding-top: token.$spacing-unit-large * 4;
    align-items: center;
  }

  .nav-menu.active {
    opacity: 1;
    visibility: visible;
    display: flex; /* Show menu */
    top: 70px;
  }

  .navbar ul li {
    font-size: 1.2rem;
  }

  .menu-open .container {
    padding: 0;
  }

  .menu-open .navbar {
    padding: 1.125rem 0;
  }

  .menu-open .container .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-menu .nav-item a.active-link::after {
    bottom: -8px;
  }

  .menu-toggle {
    display: flex; /* Visible only on mobile screens */
    flex-direction: column;
    gap: token.$spacing-unit-small * 3;
    cursor: pointer;
  }

  ul li:first-child.nav-item {
    padding-top: token.$spacing-unit-small * 6;
  }
}
