/* ------------------------------------------------------------------
 Colors
------------------------------------------------------------------ */
$gold: #e6c28b;
$gold-tranparent: rgba(230, 194, 139, 0.1);

$gray-50: #f2f2f2;
$gray-100: #e8e8e8;
$gray-300: #babbb9;
$gray-400: #a1a29f;
$gray-600: #6e6f6c;
$gray-700: #464644;
$gray-800: #383937;
$gray-850: #2a2a2a;
$gray-900: #1c1c1c;

$teal-300: #8bbcb3;
$teal-500: #4c837a;
$teal-700: #26423d;

$violet-200: #c0bcd2;
$violet-300: #a19abc;
$violet-500: #675d8c;
$violet-700: #342e46;
$violet-800: #292537;

$ochre-500: #d9a441;
$ochre-700: #6c5220;

$green: #0e1615;

/* ------------------------------------------------------------------
 Spacing
------------------------------------------------------------------ */
$spacing-unit-large: 0.44rem; // 8px
$spacing-unit-small: 0.111rem; // 2px

//Line Height
$lineheight-s: 1.3;
$lineheight-m: 1.5;
$lineheight-l: 1.6;
$lineheight-xl: 1.8;

/* ------------------------------------------------------------------
 Breakpoints
------------------------------------------------------------------ */
$breakpoint-mobile: 390px;
$breakpoint-tablet: 768px;

$max-width-s: 395px;
$max-width-m: 822px;
$max-width-l: 1440px;

/* ------------------------------------------------------------------
 Elevation
------------------------------------------------------------------ */
$elevation-xs: 0 2px 4px 0 rgba(230, 194, 139, 0.16);
