// _utilities.scss
@use "./tokens" as token;
@use "./semantic" as semantic;

// ========================================================================
// Radius
// ========================================================================
.radius-s {
  border-radius: semantic.$radius-s;
}

.radius-m {
  border-radius: semantic.$radius-m;
}

.radius-l {
  border-radius: semantic.$radius-l;
}

.radius-full {
  border-radius: semantic.$radius-full;
}

// ========================================================================
// Text Utilities
// ========================================================================
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}

// ========================================================================
// Flex Utilities
// ========================================================================
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-content-start {
  justify-content: flex-start;
}

.align-center {
  align-items: center;
}

.align-bottom {
  align-items: baseline;
}

.d-flex {
  display: flex;
}

.box-1 {
  flex: 1;
}

.box-2 {
  flex: 2;
}

// ========================================================================
// Margin and Padding
// ========================================================================
// Margin
.main-margin {
  margin-bottom: token.$spacing-unit-large * 19;
}

.mb-8 {
  margin-bottom: token.$spacing-unit-large;
}

.mb-16 {
  margin-bottom: token.$spacing-unit-large * 2;
}

.mb-24 {
  margin-bottom: token.$spacing-unit-large * 3;
}

.mb-32 {
  margin-bottom: token.$spacing-unit-large * 4;
}

.mb-40 {
  margin-bottom: token.$spacing-unit-large * 5;
}

.mb-48 {
  margin-bottom: token.$spacing-unit-large * 6;
}

.mb-56 {
  margin-bottom: token.$spacing-unit-large * 7;
}

.mb-64 {
  margin-bottom: token.$spacing-unit-large * 8;
}

.mb-80 {
  margin-bottom: token.$spacing-unit-large * 10;
}

.mb-88 {
  margin-bottom: token.$spacing-unit-large * 11;
}

.mb-104 {
  margin-bottom: token.$spacing-unit-large * 13;
}

.mb-120 {
  margin-bottom: token.$spacing-unit-large * 15;
}

.m-middle {
  margin: 0 auto;
}

.mt-8 {
  margin-top: token.$spacing-unit-large;
}

.mt-24 {
  margin-top: token.$spacing-unit-large * 3;
}

.mt-32 {
  margin-top: token.$spacing-unit-large * 4;
}

.mt-40 {
  margin-top: token.$spacing-unit-large * 5;
}

.mt-48 {
  margin-top: token.$spacing-unit-large * 6;
}

.mt-64 {
  margin-top: token.$spacing-unit-large * 8;
}

.mt-72 {
  margin-top: token.$spacing-unit-large * 9;
}

.mt-80 {
  margin-top: token.$spacing-unit-large * 10;
}

.mt-88 {
  margin-top: token.$spacing-unit-large * 11;
}

.mt-120 {
  margin-top: token.$spacing-unit-large * 15;
}

//Padding
.pd-16 {
  padding: token.$spacing-unit-large * 2;
}

.pd-all-32 {
  padding: token.$spacing-unit-large * 4;
}

.pd-all-48 {
  padding: token.$spacing-unit-large * 6;
}

.ptb-80 {
  padding: token.$spacing-unit-large * 10 0;
}

.ptb-96 {
  padding: token.$spacing-unit-large * 12 0;
}

.pb-16 {
  padding-bottom: token.$spacing-unit-large * 2;
}

.pb-24 {
  padding-bottom: token.$spacing-unit-large * 3;
}

.pb-32 {
  padding-bottom: token.$spacing-unit-large * 4;
}

.pb-80 {
  padding-bottom: token.$spacing-unit-large * 10;
}

.pb-96 {
  padding-bottom: token.$spacing-unit-large * 12;
}

.pt-32 {
  padding-top: token.$spacing-unit-large * 4;
}

.pt-40 {
  padding-top: token.$spacing-unit-large * 5;
}

.pt-120 {
  padding-top: token.$spacing-unit-large * 15;
}

// ========================================================================
// Display
// ========================================================================
.d-none {
  display: none;
}

// ========================================================================
// Gap
// ========================================================================
.gap-16 {
  gap: token.$spacing-unit-large * 2;
}

.gap-24 {
  gap: token.$spacing-unit-large * 3;
}

.gap-32 {
  gap: token.$spacing-unit-large * 4;
}

// ========================================================================
// Elevation
// ========================================================================
.elevation-xs,
.elevation-s {
  box-shadow: token.$elevation-xs;
}

// ========================================================================
// Max-Width
// ========================================================================
.max-width-s {
  max-width: token.$max-width-s;
}

.max-width-m {
  max-width: token.$max-width-m;
}

.max-width-l {
  max-width: token.$max-width-l;
}

// ========================================================================
// Border
// ========================================================================
.border-bottom {
  border-bottom: 1px solid semantic.$color-border;
}

.border-left {
  border-left: 2px solid token.$teal-500;
  padding: token.$spacing-unit-large * 2 0;
}

.border-standard {
  border: 1px solid semantic.$color-border;
}

.bg-violet {
  background-color: token.$violet-300;
}

// ========================================================================
// Color
// ========================================================================

.gray-color {
  color: token.$gray-300;
}

// ========================================================================
// Responsive Design
// ========================================================================
@media (max-width: 768px) {
  .gap-32 {
    gap: token.$spacing-unit-large * 3;
  }
  .box-1,
  .box-2 {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .main-margin {
    margin-bottom: token.$spacing-unit-large * 20;
  }

  .mt-80 {
    margin-top: token.$spacing-unit-large * 6;
  }

  .mb-80 {
    margin-bottom: token.$spacing-unit-large * 8;
  }

  .mb-120 {
    margin-bottom: token.$spacing-unit-large * 8;
  }

  .mt-120 {
    margin-top: token.$spacing-unit-large * 8;
  }

  .ptb-80 {
    padding: token.$spacing-unit-large * 8 0;
  }
}
@media (max-width: 390px) {
  .gap-32 {
    gap: token.$spacing-unit-large * 2;
  }
  .main-margin {
    margin-bottom: token.$spacing-unit-large * 16;
  }
}
