@use "../../../styles/tokens" as token;
@use "../../../styles/semantic" as semantic;

.tag {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  white-space: nowrap;

  &--frontend {
    background-color: semantic.$color-bg-frontend;
    border: 1px solid semantic.$color-border-tag-frontend;
  }

  &--design-engineering {
    background-color: semantic.$color-bg-a11y;
    border: 1px solid semantic.$color-border-tag-a11y;
  }

  &--designsystems {
    background-color: semantic.$color-bg-system;
    border: 1px solid semantic.$color-border-tag-system;
  }

  &--product-design {
    background-color: semantic.$color-bg-usability;
    border: 1px solid semantic.$color-border-tag-usability;
  }
}
