<app-breadcrumb></app-breadcrumb>

<section class="mb-64">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<section class="container-m m-middle">
  <picture>
    <source srcset="projects/hexify-teaser.webp" type="image/webp" />
    <img
      src="projects/hexify-teaser.webp"
      alt=""
      class="radius-l elevation-xs"
    />
  </picture>
  <div class="mt-32 mb-48">
    <img src="general/arrow.svg" alt="" class="m-middle" />
  </div>
</section>

<div class="main-margin">
  <app-technical-tools-big
    headlineTools1="Design &amp; API"
    headlineTools2="Core Web Technologies"
    headlineTools3="Build &amp; Module Bundling"
    textTools1="Figma Design, Figma API"
    textTools2="JavaScript, TypeScript, CSS, HTML"
    textTools3="Webpack"
  ></app-technical-tools-big>
</div>

<section class="text-center m-middle container-m">
  <div class="main-margin special-link radius-l">
    <h2>Explore Hexify on Figma Community</h2>
    <p class="mb-32 container">
      Take a peek at the community page to learn more and maybe see Hexify in
      action!
    </p>
    <a
      href="https://www.figma.com/community/plugin/1428416759853968301/hexify"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="button link d-flex align-items m-middle">
        Explore Hexify
        <span class="material-icons" aria-hidden="true">open_in_new</span>
      </span>
    </a>
  </div>
</section>

<div class="main-margin">
  <app-scroll-menu [sections]="sections"></app-scroll-menu>
</div>

<section id="section1" class="main-margin">
  <div class="container-m m-middle">
    <h2>1. Purpose &amp; Goals</h2>
    <p>
      The primary purpose of this Plugin is to enhance the workflow, making it
      faster and more efficient to implement Figma Designs in Code.
    </p>
    <p>
      This project also serves as a resource for fellow Developers and
      Designers, providing them with a Tool that enhances Collaboration and
      speeds up their Development Processes.
    </p>
  </div>
</section>

<section id="section2" class="main-margin">
  <div class="container-m m-middle">
    <h2>2. Architecture</h2>
    <p class="mb-16">
      The UI Layer of Hexify's Architecture enables user interaction, while the
      Main Logic orchestrates the processes, handling Data Retrieval and
      coordination with Helper Modules.
    </p>
    <ul class="mb-64">
      <li class="mb-16">
        <strong>UI Layer (ui.html):</strong><br />
        The interface where users select Color Collections and initiate the
        generation of output files.
      </li>
      <li class="mb-16">
        <strong>Main Logic (code.ts):</strong> <br />Central Controller that
        handles requests from the UI, coordinates tasks with Helper Modules, and
        communicates with the Figma API.
      </li>
      <li class="mb-16">
        <strong>Helper Module (api.ts):</strong><br />
        Gathers and filters Color Collections, preparing Data for dropdown
        options.
      </li>
      <li class="mb-16">
        <strong>Helper Module (utilities.ts):</strong><br />Converts colors into
        Hexadecimal and SCSS, CSS, or JSON formats for the final output.
      </li>
      <li class="mb-16">
        <strong>Figma API:</strong> <br />Provides Hexify with access to Color
        Collections and variables directly from Figma.
      </li>
    </ul>

    <h3>Dropdown Population (on UI Initialization)</h3>
    <p class="mb-64">
      When Hexify's UI is ready, the Plugin automatically fetches Color
      Collections from Figma. The Main Logic coordinates with the Figma API and
      api.ts (Helper Module) to gather and filter the necessary Color Data. Once
      processed, the dropdown is populated, allowing users to select from the
      available Color Vollections with ease.
    </p>
    <picture>
      <source srcset="projects/dropdown-population.webp" type="image/webp" />
      <img
        src="projects/dropdown-population.webp"
        alt="Diagram showing Hexify's dropdown population flow: the UI layer initializes, triggering the main logic to fetch color collections from the Figma API. The data is processed by api.ts to prepare dropdown options, which are then sent back to the UI layer to populate the color selection dropdown."
        class="mb-64"
      />
    </picture>
    <h3>Output Generation (on Button Click)</h3>
    <p class="mb-56">
      When the user clicks Generate Output, Hexify processes the selected colors
      into the desired format. The Main Logic directs utilities.ts (Helper
      Module) to convert the colors, returning them as formatted code. Finally,
      the output is sent back to the UI, ready for download in SCSS, CSS, or
      JSON format.
    </p>
    <picture>
      <source srcset="projects/generated-output.webp" type="image/webp" />
      <img
        src="projects/generated-output.webp"
        alt="Diagram illustrating Hexify's output generation flow: the user clicks 'Generate Output' in the UI layer, and the main logic instructs utilities.ts to convert the colors. The converted data is returned to the main logic, which sends the formatted output back to the UI layer for download."
        class="mb-48"
      />
    </picture>
  </div>
</section>

<section id="section3" class="main-margin">
  <div class="container-m m-middle">
    <h2>3. Visual Design &amp; User Flow</h2>

    <p>
      The interface is organized into distinct sections for the introduction,
      Color Collection selection, Output Format selection, and action buttons,
      allowing users to quickly locate what they need.
    </p>
    <p class="mb-48">
      High contrast between text and background colors enhances readability, and
      a clear Typographic Hierarchy guides users smoothly through the interface.
    </p>
  </div>

  <div class="container-l mb-80">
    <div class="d-flex flex-wrap justify-between gap-32 text-center">
      <div class="box">
        <figure>
          <picture>
            <source srcset="projects/hexify-start.webp" type="image/webp" />
            <img
              src="projects/hexify-start.webp"
              alt=""
              class="elevation-xs radius-l border-standard"
            />
          </picture>
          <figcaption>Starting Hexify</figcaption>
        </figure>
      </div>
      <div class="box">
        <figure>
          <picture>
            <source srcset="projects/hexify-dropdown.webp" type="image/webp" />
            <img
              src="projects/hexify-dropdown.webp"
              alt=""
              class="box elevation-xs radius-l border-standard"
            />
          </picture>
          <figcaption>Dropdown Selection</figcaption>
        </figure>
      </div>

      <div class="box">
        <figure>
          <picture>
            <source
              srcset="projects/hexify-no-collection.webp"
              type="image/webp"
            />
            <img
              src="projects/hexify-no-collection.webp"
              alt=""
              class="box elevation-xs radius-l border-standard"
            />
          </picture>
          <figcaption>No collections available</figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="container-m m-middle">
    <h3 class="mb-32">
      User Flow from Opening the Plugin to Downloading the Output
    </h3>
    <div class="flex-row flex-wrap justify-between gap-32">
      <div class="box-1">
        <ul>
          <li class="mb-16">
            <strong>Opening the Plugin:</strong>
            <ul class="mt-8">
              <li>User opens Figma and selects the Plugin from the menu.</li>
              <li>
                The Plugin interface loads, displaying all available Color
                Collections.
              </li>
            </ul>
          </li>
          <li class="mb-16">
            <strong>Selecting Color Collections:</strong>
            <ul class="mt-8">
              <li>User sees a list of Color Collections.</li>
              <li>The user selects one or multiple Collections.</li>
              <li>
                A "Select All" checkbox provides the option to select all
                Collections at once.
              </li>
              <li>If no Collections are available, a message is displayed.</li>
            </ul>
          </li>
          <li class="mb-16">
            <strong>Choosing Output Format:</strong>
            <ul class="mt-8">
              <li>
                User selects the desired Output Format (e.g., SCSS or CSS) from
                a single-choice selection.
              </li>
            </ul>
          </li>
          <li class="mb-16">
            <strong>Click “Generate Output”:</strong>
            <ul class="mt-8">
              <li>
                User clicks the CTA Button to export the selected Color
                Collections in a file as Hex values.
              </li>
              <li>
                If the user attempts to export without a selection (Color
                Collection and/or Format), an error message prompts them to make
                a selection.
              </li>
            </ul>
          </li>
          <li class="mb-16">
            <strong>Download File:</strong>
            <ul class="mt-8">
              <li>The Plugin provides a downloadable file to the user.</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="box-1">
        <picture>
          <source srcset="projects/user-flow.webp" type="image/webp" />
          <img
            src="projects/user-flow.webp"
            alt="User flow diagram for the Hexify plugin, showing the sequence from opening the plugin to downloading the output. Steps include selecting one or more color collections, choosing an output format (SCSS, CSS, or JSON), clicking to generate output, and receiving a downloadable file."
            class="user-flow m-middle"
          />
        </picture>
      </div>
    </div>
  </div>
</section>

<section id="section4" class="main-margin">
  <div class="container-m m-middle">
    <h2>4. Development Insights</h2>
    <p class="mb-32">
      Developing Hexify involved a series of Milestones, each focused on
      Building, Refining, and Enhancing the Plugin's core functionality.
    </p>
  </div>

  <div class="container-m m-middle">
    <h3>Development Milestones</h3>
    <ul>
      <li class="mb-16">
        <strong>Set Up Development Environment:</strong><br />
        Initialized the project with npm, set up TypeScript, and created the
        project structure.
      </li>
      <li class="mb-16">
        <strong>Build UI Layout:</strong><br />Developed the HTML and CSS for
        the Plugin UI.
      </li>
      <li class="mb-16">
        <strong>Implement Core Functionality:</strong><br />Implemented
        functions for fetching Color Collections and exporting Data.
      </li>
      <li class="mb-16">
        <strong>Error Handling:</strong><br />Added error messages for missing
        selections.
      </li>
      <li class="mb-16">
        <strong>Testing and Debugging:</strong><br />Conducted thorough testing
        of all functionalities.
      </li>
      <li class="mb-16">
        <strong>Final Review and Polish:</strong><br />Reviewed code for
        readability and efficiency.
      </li>
      <li class="mb-48">
        <strong>Launch:</strong><br />Created necessary assets and published the
        plugin to the Figma Community.
      </li>
    </ul>

    <h3>Feature Development Flow</h3>
    <p>
      To build Hexify's core features, I followed an iterative approach,
      developing each functionality step-by-step.
    </p>
    <p class="mb-24">
      From initial data retrieval to exporting the final output, this flow shows
      the sequence of key features implemented to bring the Plugin to life.
    </p>
    <ol>
      <li class="mb-16">
        <strong>Fetching All Collections from Figma API</strong>
      </li>
      <li class="mb-16">
        <strong>Filtering to Color Collections Only</strong><br /><br />This
        function retrieves variables by their IDs from the Figma API and filters
        out any variables that aren't colors.

        <div class="mt-24">
          <app-code-good-bad [code]="codeSnippet"></app-code-good-bad>
        </div>

        <ul>
          <li>
            <strong>Promise.all and map:</strong> To handle multiple IDs at
            once, Promise.all and map are used to make parallel requests,
            speeding up the retrieval process. For each id, the
            <strong>figma.variables.getVariableByIdAsync</strong>
            method fetches the variable.
          </li>
          <li>
            <strong>Error Handling:</strong> If an ID cannot be retrieved, null
            is returned, allowing the function to gracefully handle errors
            without stopping.
          </li>
          <li>
            <strong>Filtering:</strong> Finally, the function filters out null
            values and non-color variables, returning only valid color
            variables.
          </li>
        </ul>
      </li>
      <li class="mb-16">
        <strong>Populating Dropdown with Color Collections</strong>
      </li>
      <li class="mb-16">
        <strong>Converting Color Variables to Hex Values</strong>
      </li>
      <li class="mb-16">
        <strong>Process Selected Color Collections for Output</strong>
      </li>
      <li class="mb-16">
        <strong>Binding and Providing Output Formats</strong>
      </li>
      <li class="mb-16">
        <strong>Exporting Data as SCSS, CSS, or JSON</strong>
      </li>
    </ol>
  </div>
</section>

<div class="text-center m-middle container-m link-to-project">
  <div class="main-margin special-link radius-l">
    <h2>Explore the full Source Code on GitHub</h2>
    <p class="mb-32">
      If you're interested in exploring the code and seeing how the project was
      built in detail, feel free to visit the GitHub repository.
    </p>
    <a
      href="https://github.com/ko-ko-lo/figma-color-exporter"
      target="_blank"
      rel="noopener noreferrer"
    >
      <span class="button link d-flex align-items m-middle">
        Go to Repository
        <span class="material-icons" aria-hidden="true">open_in_new</span>
      </span>
    </a>
  </div>
</div>

<section id="section5" class="main-margin">
  <div class="container-m m-middle">
    <h2>5. Reflections &amp; Future Plans</h2>
    <p>Developing Hexify has been a journey of both challenges and rewards.</p>
    <p>
      Working with new technology always brings a learning curve, and with
      limited documentation or reference code available, I found myself relying
      on patience, trial and error, and a fair share of troubleshooting.
    </p>
    <p>
      There were certainly moments when things didn't work as expected,
      requiring endurance and the determination to keep going. I quickly learned
      that rushing through new concepts isn't the answer - allowing myself time
      to dive in and truly understand the technology was essential. After all,
      the journey itself is as valuable as the finished product.
    </p>
    <p>
      Of course, there were a few gray hairs earned along the way, but the happy
      moments, when everything finally worked as planned, made it all
      worthwhile. This project taught me that I can accomplish things I never
      knew I was capable of.
    </p>
    <p>
      Through working on Hexify, I've gained a much deeper understanding of
      Figma and its API, and I'm excited to use this knowledge to create even
      more Plugins. Whether it's developing Tools to streamline workflows or
      experimenting just for the fun of it, I'm looking forward to exploring new
      ideas and pushing my skills even further.
    </p>
  </div>
</section>
