<app-breadcrumb></app-breadcrumb>

<article>
  <app-intro [title]="title" [text]="text"></app-intro>
</article>

<div class="container-m m-middle">
  <div class="mb-32">
    <picture>
      <source srcset="blog/design-process-cover.webp" type="image/webp" />
      <img
        src="blog/design-process-cover.webp"
        alt=""
        class="radius-l mt-64 m-middle elevation-xs"
      />
    </picture>
    <p class="mb-40 text-center mt-64">
      Here's how I approach design projects today.
    </p>
  </div>
  <img src="general/arrow.svg" alt="" class="m-middle" />
</div>

<section class="container-m m-middle">
  <h2 class="mt-32">1. Research & Discovery: Asking the Right Questions</h2>
  <p>
    This is where everything begins. It's the part where I slow down, listen,
    and observe before rushing into ideas or visuals.
  </p>
  <p>Some key questions I try to answer:</p>

  <ul class="mb-40">
    <li><strong>Who</strong> are we designing for?</li>
    <li>
      <strong>What</strong> are the needs, desires, and goals of both users and
      the business?
    </li>
    <li>
      <strong>Where</strong> and <strong>how</strong> is the product used?
    </li>
    <li>
      <strong>What</strong> will make the experience engaging and relevant?
    </li>
  </ul>

  <p>
    This phase is about understanding the context: getting to know the company's
    vision, interviewing users, stakeholders, and immersing myself in the
    ecosystem. Sometimes I'm handed personas and user journeys, other times, I
    need to help create them.
  </p>
  <p>The activities in this phase can include:</p>

  <ul class="mb-40">
    <li>Stakeholder interviews</li>
    <li>User interviews and observations</li>
    <li>Competitor analysis</li>
    <li>Moodboards or visual research</li>
    <li>Workshops</li>
    <li>Personas, user journeys, or experience maps</li>
  </ul>

  <p class="mb-40">
    The outcome? A shared understanding of the problem space and an alignment
    between vision, goals, and user needs.
  </p>

  <div class="m-middle">
    <picture>
      <source srcset="blog/design-process-1.webp" type="image/webp" />
      <img
        src="blog/design-process-1.webp"
        alt=""
        class="radius-l main-margin elevation-xs"
      />
    </picture>
  </div>
</section>

<section class="container-m m-middle">
  <h2 class="mt-32">
    2. High-Level Conceptual Design: Structuring the Experience
  </h2>
  <p>
    This is where the product starts to take shape, not in pixels, but in ideas,
    flows, and structures. Based on everything we learned in the research phase,
    we start outlining how the product will function and feel.
  </p>
  <p>Some Key questions:</p>

  <ul class="mb-40">
    <li>How should the information be structured?</li>
    <li>
      What are the key tasks users need to accomplish, and how can we make those
      tasks intuitive?
    </li>
    <li>What interactions will support those tasks effectively?</li>
    <li>What should the user journey look like?</li>
  </ul>

  <p>Typical outcomes:</p>

  <ul class="mb-40">
    <li>Information architecture &#40;e.g., sitemap, navigation&#41;</li>
    <li>User and task flows</li>
    <li>Low-fidelity wireframes or sketches</li>
    <li>Interaction principles or design guidelines</li>
    <li>Basic clickable prototypes</li>
  </ul>

  <p class="mb-40">
    This phase sets the foundation. It gives everyone &#40;designers,
    developers, stakeholders&#41; a shared blueprint of what we're building.
  </p>

  <div class="m-middle">
    <picture>
      <source srcset="blog/design-process-2.webp" type="image/webp" />
      <img
        src="blog/design-process-2.webp"
        alt=""
        class="radius-l main-margin elevation-xs"
      />
    </picture>
  </div>
</section>

<section class="container-m m-middle">
  <h2 class="mt-32">3. Detailed Design: Bringing the Product to Life</h2>
  <p>
    Now comes the part where things get real. This phase is about turning
    structure into experience. It is bringing personality, polish, and
    interactivity to the product.
  </p>
  <p>Some of the things I focus on here:</p>

  <ul class="mb-40">
    <li>Creating or using a design system</li>
    <li>
      Finalizing the visual language &#40;color, typography, grid, spacing&#41;
    </li>
    <li>Designing each screen in detail</li>
    <li>Prototyping the actual interactions</li>
    <li>Ensuring accessibility and usability</li>
    <li>Clarifying UI behavior and microinteractions</li>
  </ul>

  <p class="mb-40">
    Here, system thinking becomes essential. I often work closely with
    developers to ensure designs are feasible and consistent. The outcome is a
    ready-for-development design which is polished, documented, and grounded in
    all the insights we've gathered.
  </p>

  <div class="m-middle">
    <picture>
      <source srcset="blog/design-process-3.webp" type="image/webp" />
      <img
        src="blog/design-process-3.webp"
        alt=""
        class="radius-l main-margin elevation-xs"
      />
    </picture>
  </div>
</section>

<section class="container-m m-middle">
  <h2 class="mt-32">4. Testing & Iteration: Learning and Improving</h2>
  <p>
    Design isn't done when the screens are handed off. In fact, it's never
    really done. People use products in unexpected ways, and assumptions, even
    well-researched ones, don't always hold.
  </p>
  <p>That's why I believe testing and iteration should happen throughout:</p>

  <ul class="mb-40">
    <li>Early: with wireframes or prototypes</li>
    <li>During: usability tests as the design develops</li>
    <li>After: evaluating the live product and improving</li>
  </ul>

  <p class="mb-40">
    Testing helps validate (or challenge) our decisions. It's where we learn
    what works, what doesn't, and how we can improve. It also keeps us honest by
    reminding us that design is ultimately for users, not just stakeholders or
    teams.
  </p>

  <p>
    Here's a simple framework I often follow for Usability Testing:
    <a href="/blog/usability-testing"
      >Usability Testing Made Easy - in 4 Steps</a
    >.
  </p>

  <div class="m-middle">
    <picture>
      <source srcset="blog/design-process-5.webp" type="image/webp" />
      <img
        src="blog/design-process-5.webp"
        alt=""
        class="radius-l main-margin elevation-xs"
      />
    </picture>
  </div>
</section>

<section class="container-m m-middle">
  <h2 class="mt-32">In Closing: Why This Process Works for Me</h2>
  <p>
    Every designer eventually finds their rhythm. This process isn't
    revolutionary, but it's mine. It helps me stay focused while being flexible,
    user-centered while pragmatic. I can adapt it to messy startups or
    enterprise clients, short sprints or long-term projects.
  </p>
  <p>
    If you're a designer still figuring out your approach, or a stakeholder
    curious about how design happens behind the scenes, I hope this gave you
    some insight. And if you've been designing for a while, I'd love to hear how
    your process compares.
  </p>
  <p class="mb-40">Let's keep learning, and celebrating.</p>

  <div class="m-middle">
    <picture>
      <source srcset="blog/design-process-4.webp" type="image/webp" />
      <img
        src="blog/design-process-4.webp"
        alt=""
        class="radius-l elevation-xs"
      />
    </picture>
  </div>
</section>
