<app-hero-home></app-hero-home>

<section class="main-margin">
  <div class="container-m m-middle text-center">
    <h2>Where Design Meets Code</h2>
    <p>
      My work moves between product design and frontend engineering, with a
      particular focus on the systems and workflows that connect them. Together,
      these perspectives shape how I design and build thoughtful, accessible
      products.
    </p>
    <app-expertise-tag-group></app-expertise-tag-group>
  </div>

  <div class="container-m m-middle text-center">
    <img src="general/connected-dots.svg" alt="" class="m-middle" />
    <a routerLink="/expertise" class="button mt-72">Explore My Expertise</a>
  </div>
</section>

<section id="project-teaser" class="main-margin">
  <div class="container-m m-middle text-center">
    <h2>Open Stillness: an independent product built from concept to code</h2>
    <p class="mb-56">
      Open Stillness is an independent mindfulness platform I conceived,
      designed, illustrated, and developed from end to end. It brings together
      Meditation, Breathwork, and Yin Stretching through calm, seasonal
      experiences designed to feel accessible and easy to return to.
    </p>
  </div>

  <div class="container-m m-middle text-center">
    <img src="general/open-stillness.png" alt="" class="radius-m" />
    <a routerLink="/projects/open-stillness-application" class="button mt-72"
      >Explore the Open Stillness Project</a
    >
  </div>
</section>

<section id="about-teaser" class="main-margin">
  <app-intro-button
    headline="Curious by Nature. Hybrid by Design."
    text="My work has always moved between disciplines, from design and interaction to systems and code. I like to understand how things fit together, ask questions, and carry ideas through with care from early thinking to the finished product."
    label="Read My Story"
    route="/about"
  >
    <picture>
      <source srcset="general/me.webp" type="image/webp" />
      <img src="general/me.png" alt="" class="mt-64" />
    </picture>
  </app-intro-button>
</section>

<section id="blog-teaser" class="main-margin">
  <app-intro-button
    headline="Behind the Screens: Thoughts on Design, Code & Curiosity"
    text="I write to understand  and to share what I'm learning as a Designer–Developer in motion. From my CSS journey to workflows to personal growth, this is where the thinking continues."
    label="Read the Blog"
    route="/blog"
  ></app-intro-button>
</section>
