<app-hero-home></app-hero-home>

<section class="main-margin">
  <div class="container-m m-middle text-center">
    <h2>Where Design Meets Code - My Focus Areas</h2>
    <p>
      I work across five connected focus areas, from Frontend code to inclusive
      Design. Together, they shape how I build thoughtful digital products.
    </p>
    <app-expertise-tag-group></app-expertise-tag-group>
  </div>

  <div class="container-m m-middle text-center">
    <img src="general/connected-dots.svg" alt="" class="m-middle" />
    <a routerLink="/expertise" class="button mt-72">Explore My Expertise</a>
  </div>
</section>

<section id="project-teaser" class="main-margin">
  <div class="container-m m-middle text-center">
    <h2>A Case Study in Design & Development</h2>
    <p class="mb-56">
      Inspired by my yoga journey, I designed and built this mindfulness
      platform called Open Stillness using Angular, Tailwind CSS, and UX
      Research - creating an accessible space for Yin-Style Yoga, Mediation and
      Breathwork.
    </p>
  </div>

  <div class="container-m m-middle text-center">
    <app-collage-yoga></app-collage-yoga>
    <a routerLink="/projects/open-stillness-application" class="button mt-72"
      >Explore the Open Stillness Project</a
    >
  </div>
</section>

<section id="about-teaser" class="main-margin">
  <app-intro-button
    headline="Curious by Nature. Hybrid by Design."
    text="I've always worked between disciplines, from UX/UI Design to Frontend Development. With every project, I go deep, ask questions, and bring a quiet determination to craft systems that work for real people."
    label="Read My Story"
    route="/about"
  >
    <picture>
      <source srcset="general/me.webp" type="image/webp" />
      <img src="general/me.png" alt="" class="mt-64" />
    </picture>
  </app-intro-button>
</section>

<section id="blog-teaser" class="main-margin">
  <app-intro-button
    headline="Behind the Screens: Thoughts on Design, Code & Curiosity"
    text="I write to understand  and to share what I'm learning as a Designer–Developer in motion. From my CSS journey to workflows to personal growth, this is where the thinking continues."
    label="Read the Blog"
    route="/blog"
  ></app-intro-button>
</section>
