<div class="d-flex gap-32 mb-80 mt-120" [ngClass]="{ swap: isSwapped }">
  <div class="box-2 d-flex">
    <span class="phase" [ngClass]="{ 'phase-active': isActive }">{{
      phasesCount
    }}</span>
    <div class="content">
      <div class="d-flex align-center justify-between gap-16">
        <h3>{{ phasesHeadline }}</h3>
        <span
          class="pill radius-full"
          [ngClass]="{
            'pill-blue': pillColor === 'blue',
            'pill-brown': pillColor === 'brown',
            'pill-neutral': pillColor === 'neutral'
          }"
          >{{ phasesProgress }}</span
        >
      </div>
      <p class="mt-24 mb-40">
        {{ phasesText }}
      </p>

      @if (phasesLink) {
        <a [routerLink]="phasesLink" class="subheadline">
          <span class="material-icons">arrow_forward_ios</span>
          View Details
        </a>
      }
    </div>
  </div>

  <div class="box-2">
    <picture>
      <source [srcset]="phasesImgWebp" type="image/webp" />
      <img [src]="phasesImg" loading="lazy" alt="" />
    </picture>
  </div>
</div>
