<section class="mt-120 container-l main-margin">
  <div class="d-flex flex-wrap gap-32 align-center justify-between">
    <div class="box-1">
      <h1 class="text-left">Hi, my name is <br />Denise Kolodzey</h1>
      <p class="text-left">
        I’m a Frontend Developer and UX/UI Designer bridging design and
        development to craft digital products that scale, include everyone, and
        feel effortless to use.
      </p>
      <a routerLink="/projects" class="button mt-40 mb-32">Explore My Work</a>
    </div>
    <div class="box-1">
      <picture>
        <source srcset="general/portrait.webp" type="image/webp" />
        <img src="general/portrait.png" alt="" />
      </picture>
    </div>
  </div>
</section>
