@use "../../../styles/tokens" as token;

.intro {
  font-size: 28px;
}

img {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
}

@media (max-width: 768px) {
  .intro {
    font-size: 23px;
  }
  img {
    margin: 0 auto;
  }
  p,
  h1 {
    text-align: center;
  }
  .button {
    display: block;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
