<app-breadcrumb></app-breadcrumb>

<section>
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<div class="container-m m-middle">
  <picture>
    <source srcset="blog/ux-guidelines.webp" type="image/webp" />
    <img
      src="blog/ux-guidelines.webp"
      alt=""
      class="radius-l elevation-xs mt-40 mb-32"
    />
  </picture>
  <img src="general/arrow.svg" alt="" class="m-middle" />
</div>

<div class="main-margin mt-32">
  <app-text-image-blog
    headlineH2="1. Design for the Audience"
    [paragraphs]="[
      'While age is often seen as just a number, it\'s important to recognize that our different age groups have grown up in varied cultural and technological environments, leading to distinct needs and expectations.',
      'So, who are we building this application for? Is it aimed at employees who rarely engage with digital products in their personal and professional lives, or are we targeting seasoned programmers?',
      'UX Design should be tailored to the target audience - those for whom we are creating the product. Whoever they may be, understanding their needs is essential.'
    ]"
    imgSrc="blog/audience.webp"
    imgWebpSrc="blog/audience.webp"
  ></app-text-image-blog>
</div>

<div class="main-margin">
  <app-text-image-blog
    headlineH2="2. Design for Context"
    [paragraphs]="[
      'How do people in our target group use the product, and where will it be utilized?',
      'Are we developing software for someone who will be using it at their desk, or are we creating an app for someone on the go, walking down the street?',
      'Understanding the context of use is crucial for designing an effective user experience.'
    ]"
    imgSrc="blog/context.webp"
    imgWebpSrc="blog/context.webp"
  ></app-text-image-blog>
</div>

<div class="main-margin">
  <app-text-image-blog
    headlineH2="3. Make the Product Easy to Use and Learn"
    [paragraphs]="[
      'What\'s easy to use may not always be easy to learn, and vice versa.',
      'As a UX Designer, finding a balance between the needs of returning users and those encountering the product for the first time is vital. Strive to create an intuitive experience that accommodates both groups.'
    ]"
    imgSrc="blog/easy-to-use.webp"
    imgWebpSrc="blog/easy-to-use.webp"
    [single]="true"
  ></app-text-image-blog>
</div>

<div class="main-margin">
  <app-text-image-blog
    headlineH2="4. Make the Product Appealing and Satisfying"
    [paragraphs]="[
      'Creating a product that people not only want to use but love is essential. What matters most to the target audience in crafting a compelling user experience?',
      ' The product should be more than just easy to use and learn; it should also be enjoyable. Users should feel drawn to return time and again. Discover what motivates a person to engage with the product initially, and what will encourage them to come back.'
    ]"
    imgSrc="blog/satisfying.webp"
    imgWebpSrc="blog/satisfying.webp"
    [single]="true"
  ></app-text-image-blog>
</div>

<div class="main-margin">
  <app-text-image-blog
    headlineH2="5. Test the Product with Real Users"
    [paragraphs]="[
      'In UX, there\'s a powerful mantra: You are not the user.',
      'But how to uncover what users truly need and desire? Testing the product is key. What you perceive as user-friendly may differ significantly from the experiences of your target audience.',
      ' Engaging with real users will provide insights that are invaluable for refining the product.'
    ]"
    imgSrc="blog/testing.webp"
    imgWebpSrc="blog/testing.webp"
    [single]="true"
  ></app-text-image-blog>
</div>

<div class="main-margin">
  <app-text-image-blog
    headlineH2="6. Consider the Goals of the Business"
    [paragraphs]="[
      'A product exists for reasons beyond just creating a great user experience - there are business objectives to consider.',
      'For example, if the product is a news website aiming to generate revenue through banner ads, a potential conflict may arise between user needs and company goals.',
      ' As a UX Designer, it\'s essential to navigate these complexities, keeping both the company\'s objectives and the users\' goals in mind, even when it\'s challenging.'
    ]"
    imgSrc="blog/business-goals.webp"
    imgWebpSrc="blog/business-goals.webp"
    [single]="true"
  ></app-text-image-blog>
</div>

<div class="main-margin">
  <app-text-image-blog
    headlineH2="7. Put the User First"
    [paragraphs]="[
      'Above all, the user must always come first.',
      'Conflicts can arise not only from company goals but also from technical limitations or constraints related to time and budget. It\'s important to acknowledge that you may not be able to implement every idea to enhance the user experience.',
      'Even when making decisions that require compromises, the UX Designer must always be the voice of the user.'
    ]"
    imgSrc="blog/users-first.webp"
    imgWebpSrc="blog/users-first.webp"
    [single]="true"
  ></app-text-image-blog>
</div>

<section>
  <div class="container-m m-middle">
    <h2>Conclusion on UX Design Guidelines</h2>
    <p>
      Every time a person interacts with technology, they undergo a user
      experience - whether it's paying a bill, chatting with friends, or booking
      a holiday.
    </p>
    <p class="mb-32">
      As a UX Designer, your aim is to ensure that these individuals enjoy a
      seamless and delightful experience. The seven guidelines outlined here
      will help to make informed decisions that benefit both, the user and the
      product.
    </p>
  </div>
</section>
