<section class="mt-80 mb-32">
  <app-intro [title]="title" [text]="text"></app-intro>
</section>

<div class="container-m m-middle">
  <img src="general/arrow.svg" alt="" class="m-middle" />
</div>

<section class="mt-32 mb-32">
  <div class="container-m m-middle">
    <h2 class="text-center">Roots in Art and Design</h2>
    <p>
      From an early age, art became my way of expressing feelings and thoughts
      that were often too complex for words. It offered me a space where I could
      explore my emotions, and develop personally.
    </p>
    <p>
      This deep connection to art naturally led me to pursue a formal education
      in Product Design, where I embraced the principles of the Bauhaus
      philosophy. At the core of this philosophy is the belief that, to create
      something meaningful, you must first understand its materials, behaviors
      and processes. This mindset was instilled in me throughout my studies,
      particularly in the traditional craft of glassmaking. I learned to shape
      glass with my own hands, understanding its nuances and limitations before
      translating that knowledge into design.
    </p>
    <p>
      Whether I'm designing physical or digital products, or writing code, I
      always start by exploring the underlying materials, tools and
      possibilities. It's a mindset that reminds me to dig deep, to understand
      and to craft with intention.
    </p>
  </div>
  <div class="container-l d-flex flex-wrap gap-32 mt-48">
    <div class="box">
      <picture>
        <source srcset="aboutme/canvas.webp" type="image/webp" />
        <img
          src="aboutme/canvas.jpg"
          alt=""
          class="radius-l elevation-xs border-standard"
        />
      </picture>
    </div>
    <div class="box">
      <picture>
        <source srcset="aboutme/birds.webp" type="image/webp" />
        <img
          src="aboutme/birds.jpg"
          alt=""
          class="radius-l elevation-xs border-standard"
        />
      </picture>
    </div>
    <div class="box main-margin">
      <picture>
        <source srcset="aboutme/craquele.webp" type="image/webp" />
        <img
          src="aboutme/craquele.jpg"
          alt=""
          class="radius-l elevation-xs border-standard"
        />
      </picture>
    </div>
  </div>
</section>

<section class="mt-32 mb-32">
  <div class="container-m m-middle">
    <h2 class="text-center">Becoming a UX/UI Designer</h2>
    <p>
      After completing my studies in product design, I initially began my career
      in that field, but soon realized that the opportunities for growth were
      limited. This led me to explore new paths.
    </p>
    <p>
      I turned my attention to software development. The systematic nature of
      development fascinated me and the continuous opportunity for learning drew
      me in. Just as I wanted to understand the craft of glassmaking in order to
      design meaningful products, I wanted to understand code so I could design
      powerful, functional applications.
    </p>
    <p>
      Initially, I focused on web development. But, somewhat by chance, my
      journey into UX/UI Design began. It wasn't a role I had planned for, but
      as I dove deeper into the world of user experience and interface design,
      it felt like a natural fit.
    </p>
    <p class="main-margin">
      Driven by curiosity and the desire to master this new field, I dedicated
      myself to self-study. Through books, courses, colleagues, and hands-on
      experience working for a variety of companies - from tech startups to
      consultancies and large corporations - I honed my skills in UX/UI Design.
    </p>
  </div>
</section>

<section class="mt-32 main-margin">
  <div class="container-m m-middle">
    <h2 class="text-center">Returning to Development</h2>
    <p>
      While I enjoyed the creative aspects of UX/UI Design, the problem-solving
      nature of software development was always calling me back. There was
      something deeply fulfilling about the systematic approach and the way
      development challenges you through logic and creativity.
    </p>
    <p>
      For a while, I hesitated to make the shift. Although I had experience as a
      developer, my skills weren't up to date. But at some point, I decided it
      was time to make a change. I took a break to focus on completing software
      development certifications, pushing myself to refresh and sharpen my
      coding skills.
    </p>
    <p>
      For me, development is like solving a puzzle - systematic, challenging,
      and deeply creative. It's the perfect blend of logic and imagination and
      it allows me to take an idea and turn it into something that people can
      interact with and benefit from.
    </p>
    <picture>
      <source srcset="aboutme/puzzle.webp" type="image/webp" />
      <img src="aboutme/puzzle.png" alt="" class="pt-32 puzzle m-middle" />
    </picture>
  </div>
</section>

<app-contact></app-contact>
